<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39328973617-6p4l9u5nkmmskl8muesomoqmi560v0io.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39328973617-6p4l9u5nkmmskl8muesomoqmi560v0io</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>39328973617-5kk6mmu11lt3orc85scmo3ajje07bo8k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB-W3csNhBJ0RrLYp7VPs4bCD2DxODtJwk</string>
	<key>GCM_SENDER_ID</key>
	<string>39328973617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginchefmenu</string>
	<key>PROJECT_ID</key>
	<string>flutterlogin-80ebe</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterlogin-80ebe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:39328973617:ios:59a356817351c106f22610</string>
	<key>DATABASE_URL</key>
	<string>https://flutterlogin-80ebe.firebaseio.com</string>
</dict>
</plist>
